.welcome-button {
    background-color: var(--color-yellow-2);
    padding: 25px 80px;
    border-radius: 100px;
    box-shadow: 5px 5px var(--color-yellow-1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: black;
    filter: blur(5px);
}

.welcome-button:hover {
    transform: scale(1.03);
    cursor: pointer;
    filter: blur(0);
}

