.item-3 .projectOne  {
    background-image: url("../../imgs/imgProjects/projetoDoe.png");
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: end;
    overflow-y: hidden;
}

.item-3 .projectOne .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.774);
    width: 100%;
    height: 30%;
    padding: 10px;
    font-size: 120%;
    animation: Grow 1s ease-in-out;
}

.item-3 .projectOne .container h1 {
    margin-bottom: 10px;
}

.item-3 .projectOne .container a {
    align-self: flex-end;
}

@keyframes Grow {
    from {
        transform: translateY(120px);
    }
    to {
        transform: translateY(0px);
    }
}



.item-3 .projectTwo  {
    background-image: url("../../imgs/imgProjects/projetoPymob.png");
    background-size: cover;
    width: 100%;
    display: none;
    flex-direction: column;
    overflow: hidden;
}

.item-3 .projectTwo .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.459);
    width: 70%;
    margin: 30px 0px;
    padding: 25px;
    animation: slideToRight 1s ease-in-out;
}

.item-3 .projectTwo .container2 {
    align-self: flex-end;
    animation: slideToLeft 1s ease-in-out;
}

.item-3 .projectTwo .container h1 {
    margin-bottom: 10px;
    font-size: 2rem;
}

.item-3 .projectTwo .container p {
    font-size: 1.3rem;
    text-align: center;
}

.item-3 .projectTwo .container a {
    margin: 5px;
    font-size: 1.3rem;
    align-self: flex-end;
}

@keyframes slideToRight {
    from {
        transform: translateX(-250px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes slideToLeft {
    from {
        transform: translateX(250px);
    }
    to {
        transform: translateX(0px);
    }
}







.item-3 .projectThree  {
    background-image: url("../../imgs/imgProjects/projectGitHub.png");
    background-size: cover;
    width: 100%;
    display: none;
}


.item-3 .arrow {
    width: 30px;
    height: 30px;
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-radius: 10%;
    transition: .1s ease-in-out;
    position: absolute;
    top: 45%;
}

.item-3 .arrow:hover {
    border-color: var(--color-yellow-2);
}

.item-3 .arrow-l {
    transform: rotate(-45deg);
    left: 20px;
}

.item-3 .arrow-r {
    transform: rotate(135deg);
    right: 20px;
}
.item-3 {
    opacity: 100;
    background-color: transparent;
    display: flex;
}

