.item-3 .projectOne  {
    background-image: url("../../imgs/imgProjects/projetoDoe.png");
    background-size: cover;
    width: 100%;
    display: flex;
}

.item-3 .projectTwo  {
    background-image: url("../../imgs/imgProjects/projetoPymob.png");
    background-size: cover;
    width: 100%;
    display: none;
}

.item-3 .projectThree  {
    background-image: url("../../imgs/imgProjects/projectGitHub.png");
    background-size: cover;
    width: 100%;
    display: none;
}


.item-3 .arrow {
    width: 30px;
    height: 30px;
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-radius: 10%;
    transition: .1s ease-in-out;
    position: absolute;
    top: 45%;
}

.item-3 .arrow:hover {
    border-color: var(--color-yellow-2);
}

.item-3 .arrow-l {
    transform: rotate(-45deg);
    left: 20px;
}

.item-3 .arrow-r {
    transform: rotate(135deg);
    right: 20px;
}
.item-3 {
    opacity: 100;
    background-color: transparent;
    display: flex;
}

