@font-face {
    font-family: 'EA';
    src: url('../../fonts/EASPORTS15.ttf');
}
.text-font {
    font-family: 'EA', sans-serif;
    text-decoration: none;
}

.text-title {
    font-size: 5rem;
}

.text-footer {
    font-size: 2.5rem;
    color: #fff;
}

.text-user {
    font-size: 2rem;
    color: #fff;
}

.text-link {
    text-decoration: underline;
}