:root {
    --color-purple-1: #392F5A;
    --color-purple-2: #5F4D93;
    --color-purple-3: #8979B9;
    --color-purple-4: #B8AFD5;
    --color-purple-5: #E7E4F1;

    --color-yellow-1: #B9A813;
    --color-yellow-2: #E8D52A; 
    --color-yellow-3: #F1E67E;

    --color-blue-1: #1B315F;
    --color-blue-2: #2C4F9C;
    --color-blue-3: #356DE8;
    --color-blue-4: #7EA3F1;

}