.section-main {
    background-color: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-main .background-primary {
    animation: Grow 1s linear;
}

@keyframes Grow {
    0% {
        
        width: 10%;
        height: 10%;
    }

    50% {
        width: 50%;
        height: 50%;
    }

    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.container {
    display: grid;
    width: 70%;
    max-width: 1920px;
    height: 70%;
    max-height: 1080px;
    margin: 0 auto;
    border: 1px solid;
    border-color: red;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 10px;
}

.grid-item {
    width: 100%;
    height: 100%;
    background-color: red;
    transition: .1s ease-in-out;
}

.grid-item:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.item-3 {
    background-color: blue;
    grid-column-start: 3;
    grid-column-end: 5;
}