.section-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section-welcome .background-primary {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    position: absolute;
    transition: 0.3s ease-in-out;
}