{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!--FONTS-->
    <link href="https://fonts.cdnfonts.com/css/thegoodmonolith" rel="stylesheet">
                
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/texts.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/imgs.css'%}">
    <link rel="stylesheet" href="{% static 'css/components/section-primary.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/background.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/main-footer.css'%}">
    <link rel="stylesheet" href="{% static 'css/components/main-header.css'%}">
    <link rel="stylesheet" href="{% static 'css/sections/section-main.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/about-me.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/option1-mainmenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/option2-mainmenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/option3-mainmenu.css' %}">

</head>
<body>
    <!--INCLUDES-->
    {% include 'logo.html' %}
    {% include 'main.html' %}

    <script src="../static/js/option3-mainmenu.js"></script>
</body>
</html>

