{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/variables.css' %}">
</head>
<body>
    <div style="background-color: var(--color-purple-1);">.</div>
    <div style="background-color: var(--color-purple-2);">.</div>
    <div style="background-color: var(--color-purple-3);">.</div>
    <div style="background-color: var(--color-purple-4);">.</div>
    <div style="background-color: var(--color-purple-5);">.</div>

    <div style="background-color: var(--color-yellow-1);">.</div>
    <div style="background-color: var(--color-yellow-2);">.</div>
    <div style="background-color: var(--color-yellow-3);">.</div>

    <div style="background-color: var(--color-blue-1);">.</div>
    <div style="background-color: var(--color-blue-2);">.</div>
    <div style="background-color: var(--color-blue-3);">.</div>
    <div style="background-color: var(--color-blue-4);">.</div>

    
    <!--INCLUDES-->
</body>
</html>

