{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!--FONTS-->
    <link href="https://fonts.cdnfonts.com/css/thegoodmonolith" rel="stylesheet">
            
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/texts.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/imgs.css'%}">
    <link rel="stylesheet" href="{% static 'css/components/background.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/section-primary.css' %}">

    <link rel="stylesheet" href="{% static 'css/sections/section-welcome.css' %}">

</head>
<body>

    {% include 'logo.html' %}
    
    <section class="section-primary section-welcome">
        <div class="background-primary"></div>
        <a class="text-title welcome-button" href="{% url 'index' %}">WELCOME</a>
    </section>

    <script>
        btn = document.querySelector('.welcome-button');
        bg = document.querySelector('.background-primary');
        
        ///funcão para detectar ação de entrar e sair do mouse em relação ao elemento btn
        btn.onmouseenter = function (){
            bg.style = 'filter: blur(5px)'
        }

        btn.onmouseout = function (){
            bg.style = 'filter: blur(0)'
        }
    </script>
</body>
</html>
